# ------------------------------------------------------------------------------
#  Byte-compiled / optimized / DLL files
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo

# ------------------------------------------------------------------------------
#  C extensions
# ------------------------------------------------------------------------------
*.so

# ------------------------------------------------------------------------------
#  Distribution / packaging
# ------------------------------------------------------------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ------------------------------------------------------------------------------
#  Installer logs
# ------------------------------------------------------------------------------
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# ------------------------------------------------------------------------------
#  Unit test / coverage
# ------------------------------------------------------------------------------
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# ------------------------------------------------------------------------------
#  Virtual environments
# ------------------------------------------------------------------------------
.env
.venv
venv/
ENV/
env/
venv.bak/
env.bak/

# ------------------------------------------------------------------------------
#  Jupyter notebooks
# ------------------------------------------------------------------------------
.ipynb_checkpoints/
**/.ipynb_checkpoints/*

# ------------------------------------------------------------------------------
#  Log files
# ------------------------------------------------------------------------------
/logs/
*.log

# ------------------------------------------------------------------------------
#  Weights & Biases artifacts
# ------------------------------------------------------------------------------
/wandb/

# ------------------------------------------------------------------------------
#  Notebooks (optional if you keep them out of version control)
# ------------------------------------------------------------------------------
notebooks/
notebooks/*.ipynb

# ------------------------------------------------------------------------------
#  Working directory (store outputs/checkpoints but keep structure)
# ------------------------------------------------------------------------------
/work_dir/**
!/work_dir/
!/work_dir/*/
!/work_dir/**/.gitkeep

# ------------------------------------------------------------------------------
#  OS or Editor-specific files
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# ------------------------------------------------------------------------------
#  Git attributes
# ------------------------------------------------------------------------------
.gitattributes


# quick dev tests:
/dev/
/config/preprocessing/datasets/DHAL.yaml
/config/preprocessing/datasets/DHAL_1024.yaml
/config/finetuning/evaluation/DHAL_yolo.yaml
/config/finetuning/experiments/DHAL.yaml
/config/obj_detection/datasets/dhal_data.yaml
/config/obj_detection/datasets/tbrecon_data.yaml
/config/obj_detection/experiments/DHAL_shoulder_yolo.yaml
/config/obj_detection/experiments/TBrecon_yolo.yaml
/config/obj_detection/inference/DHAL_Shoulder.yaml
/config/obj_detection/inference/Knee.yaml
/scripts/train_yolo.sh
/temp/


# --------------------------------
/src/biomedparse/