# Unified requirements for the entire codebase

IPython
Pillow>=7.1.2
SimpleITK
albumentations
cc3d
clearml
comet_ml
coremltools
dill
dataset
dvc
dvclive
duckdb
h5py
hydra-core
imageio
mlflow
mss
monai
neptune
nncf
numpy>=1.23.0,<=2.1.1
omegaconf
opencv-python>=4.6.0
pandas>=1.1.4
pingouin
pyarrow
py-cpuinfo
pycocotools
pydicom
pyrootutils
pyyaml>=5.3.1
nibabel
rich
scikit-image
scikit-learn
scipy>=1.4.1
seaborn>=0.11.0
statsmodels
tensorboard
tensorflow
tensorflowjs
tensorrt
tflite_runtime
tflite_support
tritonclient
ultralytics-thop>=2.0.0
torch>=1.8.0
torchvision>=0.9.0
tqdm>=4.64.0
ray[tune]
requests>=2.23.0
rtdetr
sentry_sdk
shapely
super_gradients
paddle
psutil
openai
openvino
x2paddle
yt_dlp
